@import "@/assets/style/_variables.scss";
button{
    padding: 0;
}
.btn{
    cursor: pointer;
    transform-origin: center;
    z-index: 5;
    &:disabled{
        cursor: initial;
    }
    &:hover{
        transform: scale(1.3);
        &:disabled{
            transform: initial;
        }
    }
    &__more{
        text-align: center;
        width: 100%;
        height: 30px;
        font-size: 1.5rem;
        color: #aaa;
        opacity: 1;
        &:hover{
            transform: scale(1);
            color: $color_editing;
            font-size: 2rem;
        }
    }
    &__add{
        font-size: 2.5rem;
        color: #eee;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__done{
        font-size: 1.2rem;
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
        color: #eee;
        &:disabled{
            color: #aaa;
        }
    }
    &__cancel{
        position: absolute;
        color: #eee;
        left: 20px;
        top: 10px;
        cursor: pointer;
        font-size: 1.2rem;
    }
    &__videocapture{
        position: fixed;
        bottom: 30px;
        left: 30px;
    }
}

